body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #333;
    overflow-x: hidden;
}
/******************************* Nav Bar *******************************/
.navbar{
    z-index: 10;
    background-size: auto;
    background: rgba(0, 0, 0, .5);
}
.navbar-brand span{
    color: #f5bb00;
}
.btn-outline-warning{
    border-width: 1px;
}
.my-nav .nav-link{
    color: aliceblue;
}
.my-nav .active-link{
    background: #f5bb00;
    border-radius: 50px;
    display: table-cell;
}
.my-nav .active-link:hover{
    background: transparent;
    color: #f5bb00;
}
.my-nav .nav-link:hover{
    color: #f5bb00;
}
.my-nav .navbar-brand{
    color: aliceblue;
    font-size: 2.2em;
    font-weight: bolder;
}
.navbar-toggler-icon{color: aliceblue;}
.form-control{
    background: rgba(0,0,0,0.3);
    border-color: #f5bb00;
    border-width: 1px;
}
/******************************* /Nav Bar *******************************/

/******************************** About us Section *****************************/
.about-us{
    background-image: url(img/blueworkdblur.png);
    background-size: cover;
    width: 100%;
}
.big-box{
    width: 80%;
    margin: 10%;
    background: white;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.8);
}
.left-box{
    background-image: url(img/blueworkd.jpg);
    background-size: cover;
}

.left-box h1{
    opacity: .3;
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2%;
}
.left-box p{
    color: transparent;
}
.right-box{
    padding: 2%;
    text-align: justify;
}
.right-box span{
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
    border-radius: 50px;
    border-color: #f5bb00;
    border-width: 5px;
}
button:hover{
    background-color: yellow;
}
.right-box .s{
    font-size: 1.5em;
    color: #f5bb00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/******************************** /About us Section *****************************/

/********************** vision mission ***********************/
.vision-mission{
    padding-bottom: 2%;
    color: white;
    border-color: white;
}
.vision-mission h1{
    padding: 2%;
    transition: .8s;
}
.vision{
    background: linear-gradient(45deg, #03a9f4 2%, #5fcdff 100%);
    width: 90%;
    float: right;
    margin-right: 3%;
    padding: 4%;
    height: auto;
}
.vision h1{
    text-align: right;
}
.mission{
    background: linear-gradient(45deg, #009688 2%, #04e8d3 100%);
    width: 90%;
    float: left;
    margin-left: 3%;
    padding: 4%;
    height: auto;
}
.vision-mission p{
    color: transparent;
    transition: .8s;
}
.vision:hover p{
    color: white;
}
.mission:hover p{
    color: white;
}
.vision:hover p{
    color: white;
}
.mission:hover h1{
    text-align: center;
}
.vision:hover h1{
    text-align: center;
}
@media(max-width:768px){
    .mission{
        margin-left: 5%;
    }
    .vision{
        margin-right: 5%;
    }
}
/********************** /vision mission ***********************/

/***************************** Footer Section *********************************/
.footer-distributed{
	background: rgb(22, 23, 24);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 30px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    ;
    margin: 0;
    font-size: 36px;
}

.footer-distributed h3 span{
	color:  #f5bb00;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-links span{
    color: #f5bb00;
}
.footer-links a:hover{
    color: #f5bb00;
}

.footer-distributed .footer-company-name{
    color: rgb(241, 8, 8);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center img{
    height: 23px;
    width: 23px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 5px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
    margin-bottom: 5px;
}
/***************************** /Footer Section *********************************/
